# SQL SERVER
MSSQL_SA_PASSWORD=

# PAYMENT
PAYMENT_DB_NAME=ReserveNServe.Payment
PAYMENT_DB_USER=payment_user
PAYMENT_DB_PASSWORD=
PAYMENT_HTTP_PORT=5174
PAYMENT_HTTPS_PORT=7274
PAYMENT_STRIPE_SECRET_KEY=sk_...
PAYMENT_STRIPE_WEBHOOK_SECRET=whsec_...


# ASP.NET
PAYMENT_ASPNETCORE_ENVIRONMENT=
PAYMENT_ASPNETCORE_HTTPS_CERTIFICATE_PASSWORD=