MSSQL_SA_PASSWORD=CHANGE_ME

# RESERVATIONS
# ---------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ReservationsDb
DB_USER=postgres
DB_PASSWORD=change-me
POSTGRES_VERSION=17
RESERVATIONS_DB_PORT=5433
RESERVATIONS_HTTP_PORT=5040
RESERVATIONS_HTTPS_PORT=7294
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTPS_CERTIFICATE_PASSWORD=change-me

# FRONTEND
# ---------------
FRONTEND_PORT=3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=change-me
NEXT_PUBLIC_RESERVATIONS_API_URL=https://localhost:7294
