# SQL SERVER
# ---------------
MSSQL_SA_PASSWORD=

# PAYMENT
# ---------------
PAYMENT_DB_NAME=ReserveNServe.Payment
PAYMENT_DB_USER=payment_user
PAYMENT_DB_PASSWORD=
PAYMENT_HTTP_PORT=5175
PAYMENT_HTTPS_PORT=7275
PAYMENT_STRIPE_SECRET_KEY=sk_...
PAYMENT_STRIPE_WEBHOOK_SECRET=whsec_...

# ASP.NET
# ---------------
ASPNETCORE_ENVIRONMENT=Development
# Absolute path to the ASP.NET development certificate directory
ASPNET_HTTPS_PATH=
ASPNETCORE_HTTPS_CERTIFICATE_PASSWORD=change-me

# RESTAURANTS
# ---------------
RESTAURANTS_DB_NAME=ReserveNServe.Restaurants
RESTAURANTS_DB_USER=restaurants_user
RESTAURANTS_DB_PASSWORD=
RESTAURANTS_HTTP_PORT=5174
RESTAURANTS_HTTPS_PORT=7274

# RESERVATIONS
# ---------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ReservationsDb
DB_USER=postgres
DB_PASSWORD=change-me
POSTGRES_VERSION=17
RESERVATIONS_DB_PORT=5433
RESERVATIONS_HTTP_PORT=5040
RESERVATIONS_HTTPS_PORT=7294


# FRONTEND
# ---------------
FRONTEND_PORT=3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TnMUbEQ4S80RhlsaSXFv1XxoP5dn2nAZrSNVBiwVqV0rsjMOB44UqJxdUkMEfLQGXnL57zL16Lz7ltKyzxXpK6200UCtXOz3g
NEXT_PUBLIC_RESTAURANTS_API_URL=https://localhost:7274
NEXT_PUBLIC_RESERVATIONS_API_URL=https://localhost:7294
NEXT_PUBLIC_PAYMENT_API_URL=https://localhost:7275
NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:5206
